[Unit]
Description=My service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/camera_PIR_mp4.py > /home/pi/camera_PIP_mp4.log 2>&1


[Install]
WantedBy=multi-user.target
